exp_type: calogan_ft_cfm
exp_name: CaloGAN_fromDS2
dtype: float32

model_type: shape
sample_us: false
n_samples: 100000
data:
  training_file: /gpfs/home/acad/ucl-cp3/favaro/datasets/calogan_training/train_eplus.hdf5
  test_file: /gpfs/home/acad/ucl-cp3/favaro/datasets/calogan_training/test_eplus.hdf5
  bin_edges: [0, 288, 432, 504]
  return_us: false
  transforms: {
    NormalizeLayerEnergyGAN: {},
    ExclusiveLogitTransformGAN: {delta: 1.0e-6, rescale: False},
    GlobalStandardizeFromFileGAN: {model_dir: None},
    LogEnergyGAN: {},
    ScaleEnergyGAN: {e_min: 6.907755, e_max: 13.815510},
  }
  
finetuning:
  backbone_cfg: ./runs/CaloCh_learnpos/ds2_data_0.99_global_nonoise_v2/config_0.yaml
  backbone_lr: 1.e-4
  head_lr: 5.e-4
  embedder_lr: 5.e-4
  map_x_embedding: false
  map_c_embedding: false
  reinitialize_x_embedding: false
  reinitialize_c_embedding: false
  reinitialize_pos_embedding: true
  reinitialize_final_layer: true
  interpolate: true

evaluation:
  eval_dataset: "CaloGAN"
  eval_mode: "low-level"
  eval_hdf5_file: /gpfs/home/acad/ucl-cp3/favaro/datasets/calogan_full_cls/full_cls_eplus.hdf5
  eval_cls_n_layer: 2
  eval_cls_n_hidden: 2048
  eval_cls_dropout: 0.0
  eval_cls_lr: 2.e-4
  eval_cls_batch_size: 1000
  eval_cls_n_epochs: 100
  eval_cls_save_mem: True

defaults:
 - /default
 - /training: default
 - /model: cfm_calogan/cfm_eplus
