exp_type: calochallenge_ft_lem_cfm
exp_name: CaloChallenge_fromLEMURS
dtype: float32

model_type: shape
sample_us: True
n_samples: 100000
energy_model: ./runs/CaloChallenge_energy/ds2_mlp2_0.9999_v2/
gen_theta: 0.5
gen_phi: 0.5
gen_label: [1,0,0,0,0]
data:
  training_file: /gpfs/projects/acad/hepml/datasets/calo_challenge/dataset_2_1.hdf5
  test_file: /gpfs/projects/acad/hepml/datasets/calo_challenge/dataset_2_2.hdf5
  particle_type: electron
  xml_filename: /gpfs/projects/acad/hepml/datasets/calo_challenge/binning_dataset_2.xml
  train_val_frac: [0.99, 0.01]
  transforms:
    NormalizeByElayer:
      ptype: /gpfs/projects/acad/hepml/datasets/calo_challenge/binning_dataset_2.xml
      xml_file: electron
    ScaleTotalEnergy:
      factor: 0.35
      n_layers: 45
    CutValues:
      cut: 1.e-7
      n_layers: 45
    ExclusiveLogitTransform:
      delta: 1.0e-6
      rescale: true
    GlobalStandardizeFromFile:
      model_dir: null
    LogEnergy: {}
    ScaleEnergy:
      e_min: 6.907755
      e_max: 13.815510
    AddFeaturesToCond:
      split_index: 6480
    AddLEMURSConditions:
      theta: ${gen_theta}
      phi: ${gen_phi}
      label: ${gen_label}
    Reshape:
      shape: [1, 45, 16, 9]

finetuning:
  backbone_cfg: ./runs/lemurs_all/lemurs_43994/config_1.yaml
  backbone_lr: 1.e-4
  head_lr: 1.e-4
  embedder_lr: 1.e-4
  map_x_embedding: false
  map_c_embedding: false
  reinitialize_x_embedding: false
  reinitialize_c_embedding: false
  reinitialize_pos_embedding: false
  reinitialize_final_layer: false
  interpolate: false
  #ema_decay: 0.999  

evaluation:
  eval_labels: ["Vit-CFM"]
  eval_p_label: ""
  eval_dataset: "2"
  eval_mode: all
  eval_cut: 0.015
  eval_hdf5_file: /gpfs/projects/acad/hepml/datasets/calo_challenge/dataset_2_2.hdf5
  eval_cls_n_layer: 2
  eval_cls_n_hidden: 512
  eval_cls_dropout: 0.0
  eval_cls_lr: 2.e-4
  eval_cls_batch_size: 1000
  eval_cls_n_epochs: 100
  eval_cls_save_mem: True
  # ResNet
  eval_cls_resnet_layers: 18
  eval_cls_resnet_lr: 2.e-4
  eval_cls_resnet_n_epochs: 50

defaults:
 - default
 - training: default
 - model: cfm/cfm_ds2_electrons_ft
