exp_type: lemurs
exp_name: LEMURS
dtype: float32

model_type: shape
sample_us: false
energy_model: ./runs/CaloChallenge_energy/calochallenge_ds2_energy/
n_samples: 100000
data:
  xml_filename: /gpfs/projects/acad/hepml/datasets/calo_challenge/binning_dataset_2.xml
  return_us: False
  max_files_per_worker: 40
  training_file_dict: {
    "Par04SiW": [
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SiW_gamma_100kEvents_1GeV1TeV_GPSflat_part1.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SiW_gamma_100kEvents_1GeV1TeV_GPSflat_part2.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SiW_gamma_100kEvents_1GeV1TeV_GPSflat_part3.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SiW_gamma_100kEvents_1GeV1TeV_GPSflat_part4.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SiW_gamma_100kEvents_1GeV1TeV_GPSflat_part5.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SiW_gamma_100kEvents_1GeV1TeV_GPSflat_part6.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SiW_gamma_100kEvents_1GeV1TeV_GPSflat_part7.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SiW_gamma_100kEvents_1GeV1TeV_GPSflat_part8.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SiW_gamma_100kEvents_1GeV1TeV_GPSflat_part9.h5",
    ],
    "Par04SciPb": [
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SciPb_gamma_100kEvents_1GeV1TeV_GPSflat_part1.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SciPb_gamma_100kEvents_1GeV1TeV_GPSflat_part2.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SciPb_gamma_100kEvents_1GeV1TeV_GPSflat_part3.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SciPb_gamma_100kEvents_1GeV1TeV_GPSflat_part4.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SciPb_gamma_100kEvents_1GeV1TeV_GPSflat_part5.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SciPb_gamma_100kEvents_1GeV1TeV_GPSflat_part6.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SciPb_gamma_100kEvents_1GeV1TeV_GPSflat_part7.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SciPb_gamma_100kEvents_1GeV1TeV_GPSflat_part8.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SciPb_gamma_100kEvents_1GeV1TeV_GPSflat_part9.h5",
    ],
    "ODD": [
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_ODD_gamma_100kEvents_1GeV1TeV_GPSflat_part1.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_ODD_gamma_100kEvents_1GeV1TeV_GPSflat_part2.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_ODD_gamma_100kEvents_1GeV1TeV_GPSflat_part3.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_ODD_gamma_100kEvents_1GeV1TeV_GPSflat_part4.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_ODD_gamma_100kEvents_1GeV1TeV_GPSflat_part5.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_ODD_gamma_100kEvents_1GeV1TeV_GPSflat_part6.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_ODD_gamma_100kEvents_1GeV1TeV_GPSflat_part7.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_ODD_gamma_100kEvents_1GeV1TeV_GPSflat_part8.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_ODD_gamma_100kEvents_1GeV1TeV_GPSflat_part9.h5",
    ],
    "FCCeeCLD": [
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeCLD_gamma_100kEvents_1GeV100GeV_GPSflat_part1.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeCLD_gamma_100kEvents_1GeV100GeV_GPSflat_part2.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeCLD_gamma_100kEvents_1GeV100GeV_GPSflat_part3.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeCLD_gamma_100kEvents_1GeV100GeV_GPSflat_part4.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeCLD_gamma_100kEvents_1GeV100GeV_GPSflat_part5.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeCLD_gamma_100kEvents_1GeV100GeV_GPSflat_part6.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeCLD_gamma_100kEvents_1GeV100GeV_GPSflat_part7.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeCLD_gamma_100kEvents_1GeV100GeV_GPSflat_part8.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeCLD_gamma_100kEvents_1GeV100GeV_GPSflat_part9.h5",
    ],
    "FCCeeALLEGRO": [
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeALLEGRO_gamma_100kEvents_1GeV100GeV_GPSflat_part1.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeALLEGRO_gamma_100kEvents_1GeV100GeV_GPSflat_part2.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeALLEGRO_gamma_100kEvents_1GeV100GeV_GPSflat_part3.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeALLEGRO_gamma_100kEvents_1GeV100GeV_GPSflat_part4.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeALLEGRO_gamma_100kEvents_1GeV100GeV_GPSflat_part5.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeALLEGRO_gamma_100kEvents_1GeV100GeV_GPSflat_part6.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeALLEGRO_gamma_100kEvents_1GeV100GeV_GPSflat_part7.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeALLEGRO_gamma_100kEvents_1GeV100GeV_GPSflat_part8.h5",
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeALLEGRO_gamma_100kEvents_1GeV100GeV_GPSflat_part9.h5",
    ]
  } 
  test_file_dict: {
    "Par04SiW": [
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SiW_gamma_100kEvents_1GeV1TeV_GPSflat_part9.h5",
    ],
    "Par04SciPb": [
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SciPb_gamma_100kEvents_1GeV1TeV_GPSflat_part9.h5",
    ],
    "ODD": [
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_ODD_gamma_100kEvents_1GeV1TeV_GPSflat_part9.h5",
    ],
    "FCCeeCLD": [
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeCLD_gamma_100kEvents_1GeV100GeV_GPSflat_part9.h5",
    ],
    "FCCeeALLEGRO": [
      "/gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_FCCeeALLEGRO_gamma_100kEvents_1GeV100GeV_GPSflat_part9.h5",
    ]
  }
  num_classes: 5
  # Specify gen conditions 
  gen_Einc: [1e3, 1e6]
  gen_theta: [0.87, 2.27]
  gen_phi: null
  gen_label_vector: [1, 0, 0, 0, 0]
  transforms: {
    LEMURSNormalizeByElayer: {},
    LEMURSCutValues: {cut: 1.e-7},
    LEMURSExclusiveLogitTransform: {delta: 1.0e-6, rescale: True},
    LEMURSGlobalStandardizeFromFile: {model_dir: None},
    LEMURSPreprocessConds: {}
  }

finetuning: false

evaluation:
  eval_labels: ["ViT-CFM"]
  eval_dataset: "2"
  eval_mode: all
  eval_cut: 0.015
  eval_hdf5_file: /gpfs/scratch/acad/hepml/lemurs/fast/LEMURS_Par04SiW_gamma_100kEvents_1GeV1TeV_GPSflat_part10.h5
  eval_cls_n_layer: 2
  eval_cls_n_hidden: 2048
  eval_cls_dropout: 0.0
  eval_cls_lr: 2.e-4
  eval_cls_batch_size: 1000
  eval_cls_n_epochs: 50
  eval_cls_save_mem: True
  #ResNet
  eval_cls_resnet_layers: 18
  eval_cls_resnet_lr: 2.e-4
  eval_cls_resnet_n_epochs: 50

defaults:
 - /default
 - /training: default
 - /model: cfm_lemurs/cfm_lemurs
 - _self_
