exp_type: calohadronic
exp_name: CaloHadronic
dtype: float32

model_type: energy
sample_us: false
n_samples: 100000
data:
  return_us: True
  max_files_per_worker: 5
  training_file_dict: {
    "CaloHad": [
      "/gpfs/scratch/acad/hepml/CaloHadronic/Dataset_pions/Dataset_selection/all_interactions_pions_regular_ECAL+HCAL_10-90GeV_10.slcio.root_with_time_grid_test.hdf5",
      "/gpfs/scratch/acad/hepml/CaloHadronic/Dataset_pions/Dataset_selection/all_interactions_pions_regular_ECAL+HCAL_10-90GeV_2.slcio.root_with_time_grid.hdf5",
      "/gpfs/scratch/acad/hepml/CaloHadronic/Dataset_pions/Dataset_selection/all_interactions_pions_regular_ECAL+HCAL_10-90GeV_3.slcio.root_with_time_grid.hdf5",
      "/gpfs/scratch/acad/hepml/CaloHadronic/Dataset_pions/Dataset_selection/all_interactions_pions_regular_ECAL+HCAL_10-90GeV_4.slcio.root_with_time_grid.hdf5",
      ]
  } 
  test_file_dict: {
    "CaloHad": [
      "/gpfs/scratch/acad/hepml/CaloHadronic/Dataset_pions/Dataset_selection/all_interactions_pions_regular_ECAL+HCAL_10-90GeV_10.slcio.root_with_time_grid_test.hdf5",
      ]
  }
  train_val_frac: [0.99, 0.01]
  transforms: {
    SumPool3dDownScale: {},
    CaloHadNormalizeByElayer: {},
    CaloHadCutValues: {cut: 1.e-7},
    CaloHadExclusiveLogitTransform: {delta: 1.0e-6, rescale: True},
    CaloHadStandardizeUsFromFile: {n_us: 58, model_dir: null},
    CaloHadPreprocessConds: {},
    Reshape: {dict_shape: {ecal: [10, 15, 15], hcal: [48, 30, 30]}},
  }

finetuning: false
load_sample: false
evaluation:
  label: "ViT"
  eval_dataset: "1-photons"
  eval_mode: all
  eval_cut: 0.015
  eval_hdf5_file: /gpfs/scratch/acad/hepml/CaloHadronic/Dataset_pions/Dataset_selection/all_interactions_pions_regular_ECAL+HCAL_10-90GeV_10.slcio.root_with_time_grid_test.hdf5
  eval_cls_n_layer: 2
  eval_cls_n_hidden: 2048
  eval_cls_dropout: 0.0
  eval_cls_lr: 2.e-4
  eval_cls_batch_size: 1000
  eval_cls_n_epochs: 100
  eval_cls_save_mem: True
  # ResNet
  eval_cls_resnet_layers: 18
  eval_cls_resnet_lr: 2.e-5
  eval_cls_resnet_n_epochs: 48

defaults:
 - /default
 - /training: cfm/energy
 - /model: cfm_calohad/cfm_calohad_energy
