exp_type: calochallenge_ft
exp_name: CaloChallenge_DS2toDS3
dtype: float32

model_type: shape
sample_us: False
n_samples: 100000
data:
  training_file: /gpfs/projects/acad/hepml/datasets/calo_challenge/dataset_3_1_full.hdf5
  test_file: /gpfs/projects/acad/hepml/datasets/calo_challenge/dataset_3_2_full.hdf5
  particle_type: electron
  xml_filename: /gpfs/projects/acad/hepml/datasets/calo_challenge/binning_dataset_3.xml
  val_frac: 0.2
  transforms: {
    NormalizeByElayer: {
        ptype: /gpfs/projects/acad/hepml/datasets/calo_challenge/binning_dataset_3.xml,
        xml_file: electron
    },
    SelectiveUniformNoise: {
        a: 1.0e-7,
        b: 1.e-6,
        cut: True,
        exclusions: [-45, -44, -43, -42, -41, -40, -39, -38, -37,
                     -36, -35, -34, -33, -32, -31, -30, -29, -28,
                     -27, -26, -25, -24, -23, -22, -21, -20, -19,
                     -18, -17, -16, -15, -14, -13, -12, -11, -10,
                      -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1]
    },
    RegularizeLargeLogit: {
        a: 1.0e-7,
        b: 1.e-6,
        cut: False,
        exclusions: [-45, -44, -43, -42, -41, -40, -39, -38, -37,
                     -36, -35, -34, -33, -32, -31, -30, -29, -28,
                     -27, -26, -25, -24, -23, -22, -21, -20, -19,
                     -18, -17, -16, -15, -14, -13, -12, -11, -10,
                      -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1]
    },
    ExclusiveLogTransform: {delta: 1.0e-7, exclusions: [-45]},
    StandardizeFromFile: {model_dir: None},
    LogEnergy: {},
    ScaleEnergy: {e_min: 6.907755, e_max: 13.815510},
    AddFeaturesToCond: {split_index: 40500},
    Reshape: {shape: [1, 45, 50, 18]},
  }

finetuning:
  backbone_cfg: ./runs/CaloChallenge_cfmvit/calochallenge_16908/config.yaml

eval_dataset: "3"
eval_mode: all
eval_cut: 0.015
eval_hdf5_file: /gpfs/projects/acad/hepml/datasets/calo_challenge/dataset_3_2_full.hdf5
eval_cls_n_layer: 2
eval_cls_n_hidden: 512
eval_cls_dropout: 0.0
eval_cls_lr: 2.e-4
eval_cls_batch_size: 1000
eval_cls_n_epochs: 100
eval_cls_save_mem: True

defaults:
 - default
 - training: default
 - model: cinn
