exp_type: calochallenge_ft_cfm
exp_name: CaloChallenge_fromDS2
dtype: float32

model_type: shape
sample_us: true
energy_model: ./runs/CaloChallenge_energy/calochallenge_ds3_energy/
n_samples: 100000
data:
  training_file: /gpfs/projects/acad/hepml/datasets/calo_challenge/dataset_3_1_full.hdf5
  test_file: /gpfs/projects/acad/hepml/datasets/calo_challenge/dataset_3_2_full.hdf5
  particle_type: electron
  xml_filename: /gpfs/projects/acad/hepml/datasets/calo_challenge/binning_dataset_3.xml
  train_val_frac: [0.99, 0.01]
  transforms: {
    NormalizeByElayer: {
        ptype: /gpfs/projects/acad/hepml/datasets/calo_challenge/binning_dataset_3.xml,
        xml_file: electron
    },
    ScaleTotalEnergy: {n_layers: 45, factor: 0.35},
    CutValues: {cut: 1.e-7, n_layers: 45},
    ExclusiveLogitTransform: {delta: 1.0e-6, rescale: True},
    GlobalStandardizeFromFile: {model_dir: None},
    LogEnergy: {},
    ScaleEnergy: {e_min: 6.907755, e_max: 13.815510},
    AddFeaturesToCond: {split_index: 40500},
    Reshape: {shape: [1, 45, 50, 18]},
  }

finetuning:
  backbone_cfg: ./runs/CaloCh_learnpos/ds2_data_0.99_global_nonoise_v2/config_0.yaml
  backbone_lr: 1.e-4
  head_lr: 5.e-4
  embedder_lr: 5.e-4  
  map_x_embedding: true
  map_c_embedding: false
  reinitialize_x_embedding: true
  reinitialize_c_embedding: false
  reinitialize_pos_embedding: true
  reinitialize_final_layer: true
  interpolate: true

eval_dataset: "3"
eval_mode: all
eval_cut: 0.015
eval_hdf5_file: /gpfs/projects/acad/hepml/datasets/calo_challenge/dataset_3_2_full.hdf5
eval_cls_n_layer: 2
eval_cls_n_hidden: 512
eval_cls_dropout: 0.0
eval_cls_lr: 2.e-4
eval_cls_batch_size: 1000
eval_cls_n_epochs: 100
eval_cls_save_mem: True

defaults:
 - default
 - training: default
 - model: cfm/cfm_ds3_electrons
